
h2
{
     text-align: center;
    text-decoration:red;
    font-size:30px;
    width: 1350px;
    height: 720px;
    color: purple;
    background-image:url("C:\uttara kannada tourism.jpg") ;
    background-color: forestgreen;
    background-size:1500px 1500px ;
    margin: 0px 00px 0px 0px;
    padding: 0px 0px 100px 0px;
}
h7
{
    text-align: center;
    text-decoration:red;
    font-size: 30px;
    width: 100%;
    height: 50%;
    color: peru;
    background-image:url("C:\uttara kannada tourism.jpg") ;
    background-repeat: no-repeat;
    background-size:500px 500px ;
    margin: 0px 00px 0px 0px;
    padding: 0px 0px 100px 0px;
}
ppalace 
{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;

}

p1
{
    
  font-size: 25px;
  color: navy;  
}

p2
{
    
    font-size: 25px;
    
    color: olivedrab;
}
    
p3 
{
    font-size: 25px;
    color: firebrick;
}
p4
{
    font-size: 25px;
    color: darkslateblue;
}
    
p5
{
      color: navy;
      font-size: 25px;
}

p6
{
     font-size: 25px;
     color: crimson;
}
p7
{
     font-size: 25px;
     color: crimson;
}
p1
{
     font-size: 20px;
     color: indigo;
}
img{
    transition: transform .7s;
    cursor: pointer;

}

img:hover{
    transform: scale(.90);
}

    
 
   

